:root {
  --bar-h: 64px;
}

@media only screen and (min-height: 768px) {
  :root {
    --bar-h: 80px;
  }
}

:root {
  --topbar-h: var(--bar-h);
  --chat-input-h: var(--bar-h);
  --avatar: 56px;
}

.topbar {
  @apply bg-topbar/35 transition-colors;
  height: var(--topbar-h);
}

.chat-container {
  width: 100%;
  max-width: 696px;
  padding-right: var(--gap-1-2);
  padding-left: var(--gap-1-2);
}

.column-stack,
.chat-input {
  box-sizing: border-box;
}

.chat-list,
.chat,
.new-chat {
  @apply w-dvw flex flex-col;
}

.chat-list,
.chat-details {
  @apply text-foreground2 bg-background2 cursor-default transition-colors;
}

/* Chat List */

.chat-list {
  align-items: stretch;
}

.chat-list_items {
  height: calc(100dvh - var(--topbar-h));
}

/* Chat Item */

.chat-item {
  @apply select-none transition-colors mt-0.5;
  padding-right: var(--gap);
  padding-left: var(--gap);
  padding-top: var(--gap-1-2);
  padding-bottom: var(--gap-1-2);
}

.chat-item.active {
  @apply bg-popover/80 transition-colors;
}

.chat-item:not(.active) {
  cursor: pointer;
}

.chat-item:not(.active):hover {
  @apply bg-popover/55;
}

.chat-item_avatar .avatar {
  width: var(--avatar);
  height: var(--avatar);
}

/* Chat */

.chat {
  align-items: center;
}

.chat-note {
  @apply flex flex-col items-center justify-center w-full;
}

.chat .topbar {
  align-self: stretch;
}

.chat-messages {
  height: calc(100dvh - (var(--topbar-h) + var(--chat-input-h)));
}

.chat-message {
  margin-top: var(--gap-1-2);
  user-select: none;
}

.chat-message:last-child {
  margin-bottom: var(--gap-1-4);
}

.chat-message .typing {
  @apply ml-2 my-4;
}

.chat-message.role-hm {
  @apply justify-end;
}

.chat-message_content {
  @apply py-4 px-6 text-sm rounded-[32px] cursor-default transition-colors;
}

.chat-message.role-ai .chat-message_content {
  @apply bg-card text-card-foreground sm:mr-10;
}

.chat-message.role-hm .chat-message_content {
  @apply bg-card2 text-card2-foreground ml-[4.5rem];
  border-bottom-right-radius: 0;
}

.chat-message .avatar {
  @apply w-14 h-14 shrink-0;
}

/* Chat Input */

.chat-input {
  display: flex;
  align-items: center;
  height: var(--chat-input-h);
}

.chat-input input {
  @apply focus-visible:ring-0;
}

/* Chat Notification */

.chat-notification {
  display: none;
}

/* Chat Details */

.chat-details {
  display: none;
}

/* New Chat */

.new-chat-button {
  @apply px-10;
}

.new-chat {
  @apply items-center;
}

.new-chat .topbar {
  align-self: stretch;
}

.new-chat.single .topbar-header {
  @apply justify-center;
}

.new-chat-form,
.new-chat-form_fields {
  @apply flex flex-col gap-4;
}

.new-chat-form {
  @apply p-4;
}

.new-chat-form.inactive {
  @apply opacity-40;
}

.new-chat-form_fields > div {
  @apply w-full;
}

/* People */

.people-list_wrapper {
  @apply w-full pb-2 my-4 px-2;
  max-width: fit-content;
}

.people-list_wrapper .scroll-area {
  scroll-snap-type: x mandatory;
}

.people-list {
  @apply flex gap-4 pt-6 pb-2;
}

.person-card {
  @apply box-border flex flex-col items-center w-44 cursor-pointer transition-colors;
  scroll-snap-align: center;
}

.person-card.selected {
  @apply bg-inverse text-inverse-foreground cursor-default;
}

.person-card_image {
  @apply shrink-0 rounded-xl w-36 h-44 overflow-hidden;
  transform: translateY(-1.25rem);
}

.person-card_content {
  @apply flex flex-col items-center gap-2 px-2 pb-4;
  transform: translateY(-0.25rem);
}

.person-card_description {
  @apply text-sm opacity-70;
}

/* Typing */

.typing {
  @apply flex items-center;
}

.typing_circle {
  @apply w-2 h-2 rounded-xl bg-middletone;
  animation: pulse 1s ease-in-out infinite both;
}

.typing_circle:not(:first-child) {
  @apply ml-2;
}

.typing_circle:nth-child(2) {
  animation-delay: 0.2s;
}

.typing_circle:nth-child(3) {
  animation-delay: 0.4s;
}

@media only screen and (min-height: 768px) {
  .chat-item {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }

  .chat-input form {
    transform: translateY(-0.25rem);
  }
}

@media only screen and (max-width: 479px) {
  .translate-chat-xs,
  .translate-new-chat-xs {
    transform: translateX(-100dvw);
  }
}

@media only screen and (min-width: 480px) {
  .chat-list {
    width: 180px;
  }

  .chat-item.active {
    @apply bg-background;
  }

  .chat,
  .new-chat {
    width: 100%;
  }

  .chat .navback,
  .new-chat .navback {
    display: none;
  }

  .people-list_wrapper {
    @apply px-0;
  }

  .new-chat:not(.single) .people-list_wrapper {
    width: calc(100dvw - 196px);
  }

  .new-chat.single .people-list_wrapper {
    width: calc(100dvw - 16px);
  }

  /* Chat Notification */

  .chat-notification {
    @apply relative overflow-hidden flex flex-col items-center justify-center w-full cursor-default opacity-65;
  }

  .chat-notification__bg {
    position: absolute;
    inline-size: 631px;
    block-size: 329px;
    background: radial-gradient(
      hsl(240, 10%, 20%),
      hsla(240, 10%, 20%, 0.5) 30%,
      hsla(240, 10%, 20%, 0) 85%,
      hsla(240, 10%, 20%, 0)
    );
    mask: url(/assets/images/dotmask.svg) center center / cover;
    mask-repeat: no-repeat;
    /* mask-size: 100% 100%; */
  }

  .dark .chat-notification__bg {
    background: radial-gradient(
      hsl(0, 0%, 85%),
      hsla(0, 0%, 85%, 0.5) 30%,
      hsla(240, 8%, 20%, 0) 85%,
      hsla(0, 0%, 85%, 0)
    );
  }

  .chat-notification__label {
    @apply absolute m-0 p-2 text-muted-foreground bg-background transition-colors;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    inline-size: max-content;
    max-inline-size: 90vw;
  }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .chat-item {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }

  .chat-item .avatar {
    width: calc(var(--avatar) / 4 * 3);
    height: calc(var(--avatar) / 4 * 3);
  }

  .new-chat-button {
    @apply px-6 translate-x-2;
  }
}

@media only screen and (min-width: 600px) {
  .chat-list {
    width: 280px;
    min-width: 280px;
  }

  .new-chat:not(.single) .people-list_wrapper {
    width: calc(100dvw - 296px);
  }

  .new-chat-button {
    @apply px-10;
  }
}

@media only screen and (min-width: 768px) {
  .new-chat-form_fields {
    @apply flex-row;
  }
}

@media only screen and (min-width: 960px) {
  .chat-container {
    padding-right: var(--gap);
    padding-left: var(--gap);
  }
}

@media only screen and (min-width: 1280px) {
  .chat-details {
    width: 280px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .chat-details_image {
    opacity: 0.85;
  }

  :root.dark .chat-details_image {
    opacity: 0.7;
  }

  .chat-details:hover .chat-details_image {
    opacity: 100;
  }
}

@keyframes pulse {
  0%,
  100% {
    scale: 0;
  }
  50% {
    scale: 1;
  }
}
