:root {
  --bar-h: 64px;
  --person-card-w: 188px;
  --avatar: 56px;
}

@media only screen and (min-height: 768px) {
  :root {
    --bar-h: 80px;
  }
}

:root {
  --topbar-h: var(--bar-h);
  --chat-input-h: var(--bar-h);
}

.chat,
.chat .topbar,
.chat-messages,
.chat-input {
  @apply relative;
}

.chat .topbar,
.chat-messages,
.chat-input {
  @apply z-10;
}

.topbar {
  @apply bg-topbar/50 transition-colors;
  height: var(--topbar-h);
}

:root.dark .topbar {
  @apply bg-topbar/20;
}

.chat-container {
  width: 100%;
  max-width: 720px;
  padding-right: var(--gap-1-2);
  padding-left: var(--gap-1-2);
}

.column-stack,
.chat-input {
  box-sizing: border-box;
}

.chat-list,
.chat,
.new-chat {
  @apply w-dvw flex flex-col;
}

.chat-list,
.chat-details {
  @apply bg-area cursor-default transition-colors;
}

/* Chat List */

.chat-list {
  align-items: stretch;
}

.chat-list.new-chat {
  display: none;
}

.chat-list_items {
  height: calc(100dvh - var(--topbar-h));
}

/* Chat Item */

.chat-item {
  @apply select-none transition-colors mt-0.5;
  padding: var(--gap);
}

.chat-item.active {
  @apply bg-background transition-colors;
}

.chat-item:not(.active) {
  cursor: pointer;
}

.chat-item:not(.active):hover {
  @apply bg-background/70;
}

.chat-item_avatar .avatar {
  width: var(--avatar);
  height: var(--avatar);
}

/* Chat */

.chat {
  @apply items-center;
}

.chat-note {
  @apply flex flex-col items-center justify-center w-full;
}

.chat .topbar {
  align-self: stretch;
}

.chat-messages {
  height: calc(100dvh - (var(--topbar-h) + var(--chat-input-h)));
}

.chat-message {
  position: relative;
  margin-top: var(--gap-1-2);
  user-select: none;
}

.chat-message:last-child {
  margin-bottom: var(--gap-1-4);
}

.chat-message .typing {
  @apply ml-2 my-4;
}

.chat-message.role-hm {
  @apply justify-end;
}

.chat-message_content {
  @apply py-4 px-6 rounded-[32px] cursor-default transition-colors;
}

.chat-message.role-ai .chat-message_content {
  @apply bg-card/90 ml-11 sm:mr-10;
  border-top-left-radius: 0;
}

:root.dark .chat-message.role-ai .chat-message_content {
  @apply bg-blured/10;
  backdrop-filter: blur(10px);
}

.chat-message.role-hm .chat-message_content {
  @apply bg-gradient-to-r from-brand to-brand-secondary text-brand-foreground font-medium ml-11;
  border-bottom-right-radius: 0;
}

.chat-message .avatar {
  @apply absolute top-[-1px] left-0 z-10 w-14 h-14 shrink-0;
}

/* Chat Input */

.chat-input {
  @apply flex items-center;
  height: var(--chat-input-h);
}

.chat-input input {
  @apply focus-visible:ring-0;
}

/* Chat Notification */

.chat-notification {
  display: none;
}

/* Chat Background */

.chat_bg-image {
  @apply absolute inset-0 z-0 flex flex-col items-center justify-center overflow-hidden;
  opacity: 0.25;
}

.chat_bg-image--accent {
  opacity: 1;
}

/* Chat Details */

.chat-details {
  display: none;
}

/* New Chat */

.new-chat-button {
  @apply px-10;
}

.new-chat {
  @apply items-center;
  max-width: 100dvw;
}

.new-chat .topbar {
  align-self: stretch;
}

.new-chat .topbar-header {
  @apply justify-center;
}

.new-chat-form,
.new-chat-form_fields {
  @apply flex flex-col gap-4;
}

.new-chat-form {
  @apply p-4;
}

.new-chat-form.inactive {
  @apply opacity-40;
}

.new-chat-form_fields > div {
  @apply w-full;
}

/* People */

.people-list_wrapper {
  @apply w-full pb-2 my-4 px-2;
  max-width: fit-content;
}

.people-list_wrapper .scroll-area {
  scroll-snap-type: x mandatory;
}

.people-list {
  @apply flex gap-4 pt-6 pb-2;
}

.person-card {
  @apply box-border flex flex-col items-center w-44 cursor-pointer transition-colors;
  scroll-snap-align: center;
}

.person-card.selected {
  @apply bg-primary text-primary-foreground cursor-default;
}

.person-card_image {
  @apply rounded-xl w-36 h-44 text-muted overflow-hidden;
  transform: translateY(-1.25rem);
}

.person-card_content {
  @apply flex flex-col items-center gap-2 pb-4;
  transform: translateY(-0.25rem);
}

.person-card_content > div {
  @apply w-44 px-3 text-center;
}

.person-card_description {
  @apply text-sm opacity-70;
}

@media only screen and (min-height: 768px) {
  .chat-input form {
    transform: translateY(-0.25rem);
  }
}

@media only screen and (max-width: 479px) {
  .chat-list.chat-xs {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .chat-list {
    width: 180px;
  }

  .chat-item.active {
    @apply bg-background;
  }

  .chat,
  .new-chat {
    width: 100%;
  }

  .chat .navback {
    display: none;
  }

  /* Chat Notification */

  .chat-notification {
    @apply relative overflow-hidden flex flex-col items-center justify-center w-full cursor-default opacity-65 bg-background transition-colors;
  }

  .chat-notification__bg {
    /* @apply absolute transition-colors; */
    position: absolute;
    inline-size: 631px;
    block-size: 329px;
    background: radial-gradient(
      hsl(240, 10%, 20%),
      hsla(240, 10%, 20%, 0.5) 30%,
      hsla(240, 10%, 20%, 0) 85%,
      hsla(240, 10%, 20%, 0)
    );
    mask: url(/assets/images/dotmask.svg) center center / cover;
    mask-repeat: no-repeat;
    /* mask-size: 100% 100%; */
  }

  .dark .chat-notification__bg {
    background: radial-gradient(
      hsl(0, 0%, 85%),
      hsla(0, 0%, 85%, 0.5) 30%,
      hsla(240, 8%, 20%, 0) 85%,
      hsla(0, 0%, 85%, 0)
    );
  }

  .chat-notification__label {
    @apply absolute m-0 p-2 text-secondary-foreground bg-background transition-colors;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    inline-size: max-content;
    max-inline-size: 90vw;
  }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .chat-item {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }

  .chat-item .avatar {
    width: calc(var(--avatar) / 4 * 3);
    height: calc(var(--avatar) / 4 * 3);
  }

  .new-chat-button {
    @apply px-6 translate-x-2;
  }
}

@media only screen and (min-width: 600px) {
  .chat-list {
    width: 280px;
    min-width: 280px;
  }

  .new-chat-button {
    @apply px-10;
  }
}

@media only screen and (min-width: 768px) {
  .new-chat-form_fields {
    @apply flex-row;
  }
}

@media only screen and (min-width: 960px) {
  .chat-container {
    padding-right: var(--gap);
    padding-left: var(--gap);
  }
}

@media only screen and (min-width: 1280px) {
  .chat-list.new-chat {
    display: flex;
  }

  .chat-list.new-chat .chat-item {
    width: 280px;
  }

  .new-chat .navback {
    display: none;
  }

  .new-chat .people-list_wrapper {
    width: calc(100dvw - 296px);
  }

  .chat-details {
    width: 280px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .chat-details_image {
    @apply h-[352px] relative transition-opacity overflow-hidden flex justify-center bg-card/50 text-muted opacity-85;
  }

  :root.light .chat-details_image {
    opacity: 0.85;
  }

  :root.dark .chat-details_image {
    opacity: 0.5;
  }

  .chat-details:hover .chat-details_image {
    opacity: 1;
  }

  :root.dark .chat-details:hover .chat-details_image {
    opacity: 0.75;
  }

  .chat-details_description {
    @apply text-sm font-medium opacity-60 transition-opacity;
  }

  .chat-details:hover .chat-details_description--active {
    opacity: 1;
  }
}
