@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */

@layer base {
  :root {
    --background: 240 10% 96%;
    --foreground: 240 10% 4%;

    --background-secondary: 240 10% 92%;
    --foreground-secondary: 240 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --card2: 208 75% 90%;
    --card2-foreground: 0 0% 0%;

    --topbar: 0 0% 100%;
    --topbar-foreground: 240 10% 0%;

    --sidebar: 240 10% 20%;
    --sidebar-foreground: 240 10% 95%;

    --popover: 240 10% 100%;
    --popover-foreground: 240 10% 4%;

    --primary: 240 10% 10%;
    --primary-foreground: 0 10% 98%;

    --secondary: 240 10% 98%;
    --secondary-foreground: 240 10% 10%;

    --muted: 240 6% 96%;
    --muted-foreground: 240 6% 50%;

    --accent: 240 10% 96%;
    --accent-foreground: 240 10% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --inverse: 240 10% 10%;
    --inverse-foreground: 0 0% 98%;

    --icon: 240 10% 20%;
    --border: 240 10% 80%;
    --button-border: 240 10% 92%;
    --input: 240 10% 80%;
    --ring: 240 10% 4%;
    --middletone: 240 10% 70%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 8% 10%;
    --foreground: 0 0% 98%;

    --background-secondary: 240 8% 5%;
    --foreground-secondary: 240 8% 85%;

    --card: 240 8% 17%;
    --card-foreground: 240 8% 85%;

    --card2: 215 45% 16%;
    --card2-foreground: 215 8% 95%;

    --topbar: 240 8% 20%;
    --topbar-foreground: 240 8% 90%;

    --sidebar: 240 8% 20%;
    --sidebar-foreground: 240 8% 95%;

    --popover: 240 8% 12%;
    --popover-foreground: 240 8% 90%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 8% 8%;

    --secondary: 240 8% 16%;
    --secondary-foreground: 240 8% 85%;

    --muted: 240 6% 16%;
    --muted-foreground: 240 6% 60%;

    --accent: 240 8% 16%;
    --accent-foreground: 240 8% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --inverse: 240 5% 96%;
    --inverse-foreground: 240 8% 4%;

    --icon: 240 8% 75%;
    --border: 240 8% 20%;
    --button-border: 240 8% 25%;
    --input: 240 8% 25%;
    --ring: 240 8% 84%;
    --middletone: 240 8% 55%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors;
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight font-bold scroll-m-20;
  }

  h1 {
    @apply text-3xl lg:text-5xl text-opacity-90;
  }

  h2,
  h3 {
    @apply first:mt-0;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  .title {
    @apply cursor-default;
  }

  p {
    @apply leading-6 [&:not(:first-child)]:mt-4;
  }

  a {
    @apply font-medium;
  }

  .link {
    @apply underline underline-offset-4;
  }

  button:focus-visible {
    outline: none;
  }

  .space {
    flex-grow: 1;
  }

  .elipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .clickable {
    @apply cursor-pointer;
  }

  .inactive {
    @apply !pointer-events-none !text-muted-foreground;
  }

  .inactive button {
    @apply opacity-5;
  }

  .form-loading {
    transition: opacity 0.2s ease;
  }

  .icon,
  .action-icon,
  .loading-icon {
    @apply text-icon;
  }

  .action-icon {
    @apply cursor-pointer opacity-40 hover:opacity-100 transition-opacity;
  }

  .loading-icon {
    animation: rotating 0.5s linear infinite;
  }

  .menu-icon {
    @apply mr-4 text-muted-foreground/60;
  }

  .card {
    @apply rounded-xl bg-card text-card-foreground shadow-sm transition-colors;
  }

  .flip-y {
    transform: rotateY(180deg);
  }

  /* For the text-overflow: ellipsis */
  .scroll-area > div {
    display: block !important;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
