@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */

:root {
  --hue: 280;
  --brand-primary-hue: 290;
  --brand-secondary-hue: 334;
  --error-hue: 347;
}

@layer base {
  :root {
    --card: var(--hue) 0% 100%; /* card, AI's chat message */
    --card-foreground: var(--hue) 5% 10%; /* main text */

    --brand: var(--brand-primary-hue) 67% 47%; /* human's chat message bg start */
    --brand-secondary: var(--brand-secondary-hue) 74% 55%; /* human's chat message bg stop */
    --brand-foreground: 0 0% 100%;

    --primary: var(--hue) 10% 10%; /* button primary */
    --primary-foreground: var(--hue) 5% 95%;

    --secondary: var(--hue) 0% 100%; /* button secondary */
    --secondary-foreground: 0 0% 60%;

    --popover: var(--hue) 0% 100%; /* dropdown menu */
    --popover-foreground: var(--hue) 10% 45%;
    --popover-focus: var(--hue) 5% 97%;

    --success: 154 85% 75%;
    --success-foreground: 154 85% 65%;

    --error: var(--error-hue) 100% 60%;
    --error-foreground: var(--error-hue) 100% 53%;

    --background: var(--hue) 5% 98%; /* body */
    --foreground: var(--hue) 5% 10%; /* main text */
    --topbar: var(--hue) 0% 100%; /* .4 */
    --area: var(--hue) 10% 95%; /* auth, sidebar */
    --blured: var(--hue) 10% 75%; /* blured card */
    --muted: 0 0% 75%;
    --border: var(--hue) 8% 80%;
    --icon: var(--hue) 10% 40%;
    --ring: var(--hue) 10% 4%;

    --radius: 0.5rem;
  }

  .dark {
    --card: var(--hue) 5% 15%; /* card, AI's chat message */
    --card-foreground: var(--hue) 5% 90%; /* main text */

    --brand: var(--brand-primary-hue) 83% 31%; /* human's chat message bg start */
    --brand-secondary: var(--brand-secondary-hue) 76% 37%; /* human's chat message bg stop */
    --brand-foreground: 0 0% 100%;

    --primary: var(--hue) 5% 95%; /* button primary */
    --primary-foreground: var(--hue) 0% 0%;

    --secondary: var(--hue) 5% 15%; /* button secondary */
    --secondary-foreground: 0 0% 60%;

    --popover: var(--hue) 5% 15%; /* dropdown menu */
    --popover-foreground: var(--hue) 5% 85%;
    --popover-focus: var(--hue) 5% 19%;

    --success: 154 85% 55%;
    --success-foreground: 154 65% 80%;

    --error: var(--error-hue) 75% 50%;
    --error-foreground: var(--error-hue) 100% 60%;

    --background: var(--hue) 5% 10%; /* body */
    --foreground: var(--hue) 5% 95%; /* main text */
    --topbar: var(--hue) 5% 20%; /* .2 */
    --area: var(--hue) 5% 5%; /* auth, sidebar */
    --blured: var(--hue) 5% 52%; /* blured card */
    --muted: 0 0% 45%;
    --border: var(--hue) 5% 20%;
    --icon: var(--hue) 5% 75%;
    --ring: var(--hue) 5% 45%;
  }
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground transition-colors;
  }

  body {
    @apply text-foreground;
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight font-bold scroll-m-20 cursor-default;
  }

  h1 {
    @apply text-3xl lg:text-5xl text-opacity-90;
  }

  h2,
  h3 {
    @apply first:mt-0;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  .title {
    @apply cursor-default;
  }

  p {
    @apply leading-6 [&:not(:first-child)]:mt-4;
  }

  a {
    @apply font-medium;
  }

  .link {
    @apply underline underline-offset-4;
  }

  button:focus-visible {
    outline: none;
  }

  .space {
    flex-grow: 1;
  }

  .elipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .clickable {
    @apply cursor-pointer;
  }

  .inactive {
    @apply !pointer-events-none !text-muted;
  }

  .inactive button {
    @apply opacity-5;
  }

  .form-loading {
    transition: opacity 0.2s ease;
  }

  .icon,
  .action-icon {
    @apply text-icon;
  }

  .action-icon {
    @apply cursor-pointer opacity-40 hover:opacity-100 transition-opacity;
  }

  .loading {
    animation: fade-in 1s ease both;
  }

  .menu-icon {
    @apply mr-4 text-muted;
  }

  .card {
    @apply rounded-xl bg-card text-card-foreground shadow-sm transition-colors;
  }

  .flip-y {
    transform: rotateY(180deg);
  }

  /* For the text-overflow: ellipsis */
  .scroll-area > div {
    display: block !important;
  }

  /* Typing */

  .typing {
    @apply flex items-center;
  }

  .typing_circle {
    @apply w-2 h-2 rounded-xl bg-primary;
    animation: pulse 1s ease-in-out infinite both;
    animation-delay: 0.4s;
  }

  .typing_circle:not(:first-child) {
    @apply ml-2;
  }

  .typing_circle:nth-child(2) {
    animation-delay: 0.6s;
  }

  .typing_circle:nth-child(3) {
    animation-delay: 0.8s;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    scale: 0;
  }
  50% {
    scale: 1;
  }
}
