:root {
  /* --sidebar-w: 56px; */
  --gap: 16px;
  --gap-1-4: 4px;
  --gap-1-2: 8px;
  --gap-3-4: 12px;
}

.layout {
  @apply relative;
}

.layout,
main {
  @apply min-h-dvh flex items-stretch;
}

.layout.align-center {
  @apply flex-col items-center justify-center box-border;
}

main {
  flex-grow: 1;
}

.sidebar {
  width: 0;
}

.column-stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.main-menu--fixed {
  @apply fixed top-7 left-4 z-10;
}

@media only screen and (max-height: 767px) {
  .main-menu--fixed {
    @apply top-5;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
}
